In [2]:
import pandas as pd
import numpy as np

In [3]:
file_name = '/mnt/storage2/molmap_features/IEDB/IEDB_human_epitopes_profeat_des.csv'
dataX = pd.read_csv(file_name)

In [4]:
dataX.head()

,1,2,3,4,5,6,7,8,9,10,...,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096
0,1.0000,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0000,...,0.512640,0.582634,0.514016,0.506384,0.556925,0.507065,0.199633,0.116693,0.334534,0.0
1,0.7778,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.1111,...,0.496890,0.482969,0.452348,0.385068,0.549749,0.461015,0.132176,0.094189,0.218451,0.0
2,0.5556,0.0000,0.0,0.0,0.0,0.124176,0.0,0.0,0.0,0.0000,...,0.517469,0.557328,0.575992,0.483680,0.551038,0.482151,0.149907,0.141303,0.165363,0.0
3,0.7778,0.0000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.1111,...,0.496567,0.482107,0.497899,0.419567,0.478458,0.351298,0.132176,0.094189,0.218451,0.0
4,0.5556,0.2222,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.1111,...,0.526458,0.561298,0.525251,0.481343,0.564042,0.485438,0.127182,0.103315,0.185615,0.0

In [5]:
dataX.shape

(1001249, 1096)

In [6]:
dataX.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       ...
       '1087', '1088', '1089', '1090', '1091', '1092', '1093', '1094', '1095',
       '1096'],
      dtype='object', length=1096)

In [7]:
dataX.index

RangeIndex(start=0, stop=1001249, step=1)

In [6]:
block_num = 16
data_blocks = np.array_split(dataX.values, block_num, axis=1)

In [8]:
data_block = data_blocks[0]

In [9]:
x = (data_block[..., None] + data_block[:, None, :]) / 2

In [10]:
x_spread = np.triu(x).reshape(len(dataX), -1)

In [11]:
x_df = pd.DataFrame(x_spread, index=dataX.index)
del x, x_spread
x_df.shape

(466539, 9409)

In [12]:
x_df = x_df.loc[:, (x_df != 0).any(axis=0)]
x_df.shape

(466539, 4753)

In [14]:
i = 1
name = 'self_interact' + str(i) + '.pkl'
x_df.to_pickle(name)

In [16]:
print('block', i, ':\n')

block 1 :

In [19]:
for i, data_block in enumerate(data_blocks):
    x = (data_block[..., None] + data_block[:, None, :]) / 2
    x_spread = np.triu(x).reshape(len(dataX), -1)
    x_df = pd.DataFrame(x_spread, index=dataX.index)
    del x, x_spread
    print('block', i, ':')
    print("data shape:", x_df.shape)
    x_df = x_df.loc[:, (x_df != 0).any(axis=0)]
    print("data shape, removing all zeros:", x_df.shape)
    name = 'self_interact' + str(i) + '.pkl'
    x_df.to_pickle(name)
    print('block', i, 'saved')

block 0 :

data shape: (466539, 9409)
data shape, removing all zeros: (466539, 4753)
block 0 saved

block 1 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 1 saved

block 2 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 2 saved

block 3 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 3 saved

block 4 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 4 saved

block 5 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 5 saved

block 6 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 6 saved

block 7 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 7 saved

block 8 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 8 saved

block 9 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 9 saved

block 10 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 10 saved

block 11 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 11 saved

block 12 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 12 saved

block 13 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 13 saved

block 14 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 14 saved

block 15 :

data shape: (466539, 9216)
data shape, removing all zeros: (466539, 4656)
block 15 saved